<footer class="footer">
    <small>
    by Ari Sharon
    </small>
  
  <nav>

    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://github.com/arisha84/todo_app">Github</a></li>
    </ul>
  </nav>
</footer>